body{
    background-color: white;
}
.h1{
    height: 550px;
}
.carousel-item img{
    filter: brightness(65%);
}
@media screen and(max-width){
    
}
.card{width: 380%;}
.carousel-inner{
  width: 50%;
  height: 50%;
}
.bloco1, .bloco3, .bloco2{
  float: left;
  width: 33%;
  height: 35%;
}
